
.margin{
	margin-top: 50px;
}
.uno{
	background-image: url("../img/dance_12.jpg");
}
.dos{
	background-image: url("../img/breakdance.jpg");
}
.tres{
	background-image: url("../img/lirical-jazz.jpg");
}
.cuatro{
	background-image: url("../img/arabe.jpg");
}
.cinco{
	background-image: url("../img/little.jpg");
}
.seis{
	background-image: url("../img/yoga.jpg");
}
.visibles{
	width: 100%;
	height: 300px;
	background-size: 90%;
}
.negro{
	width: 60%;
	height: 100px;
	background-color:rgba(0,0,0,0.5);
	padding: 3%;
	margin-left:15%;
	padding-bottom: 30%;
	
}
div.textoennegro h1,p{
	color:white;
	text-align: center;
	font-size: 13px;
}

.textoennegro{
	text-align:left;
	font-size: 20px;
}
h1+p{
	margin-top: 15px
}

.pb{
	padding-bottom: 6%;
}