.fondo4{

	background-image: url("../img/dance_7.jpg");
	background-size: 150%;
	height: 450px;
	padding-top: 50px;
	background-position: center left;
}

.negro{
	width: 80%;
	height: 300px;
	background-color: rgba(0,0,0,0.5);
	padding: 3%;
	margin-left:5%;
}

div.textoenblanco h1{
	color:white;
	text-align: center;
	font-size: 35px;
}

.parrafoc{
	color:white; 
}
.textoenblanco{
	text-align:left;
	width: 60%;
	height: 50%;
	margin: auto;
	margin-top: 10%;
}

.text2{
	background-image: url("../img/cubes.png");
}

div.col-4 h1,p{
	color:gray;
	text-align: center;

}

div.col-4{
	padding: 3%;
	margin-top: 7%;
	margin-bottom: 7%;
}

hr{
	margin: 10%;
}




h1.text-center{
	padding-bottom: 3%
}

.apear{
		height:180px;
		margin: .5%;
		width:100%;
}

.margin{
	margin-top: 50px;
}

.uno{
	background-image: url("../img/profesor_4.jpg");
}

.dos{
	background-image: url("../img/profesor_14.jpg");
}

.tres{
	background-image: url("../img/profesor_1.jpg");
}

.cuatro{
	background-image: url("../img/profesor_10.jpg");
}

.cinco{
	background-image: url("../img/profesor_11.jpg");
}

.seis{
	background-image: url("../img/profesor_12.jpg");
}

.siete{
	background-image: url("../img/profesor_9.jpg");
}

.ocho{
	background-image: url("../img/profesor_15.jpg");
}

h2{
	margin: 4%;
	font-size: 15px;
	margin-top:7%;
    font-family: LatoHeavy;
}

h2+p{
	text-align: left;
	margin: 4%;
	font-size: 15px;
	margin-bottom: 27%;
}

.frase{
	margin-top: 20%;
	margin-bottom: 20%;
	font-size: 50px;
	text-align: center;
	font-style: italic;
	color:black;
}

